body,
ul,
li,
ol {
  margin: 0 auto;
  padding: 0;
}
.mp {
  margin: 0 auto;
  padding: 0;
}
.rows {
  width: 100%;
}
.grid {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
.gd10 {
  width: 10%;
  float: left;
}
.gd15 {
  width: 15%;
  float: left;
}
.gd15-pull {
  width: 15%;
  float: right;
}
.gd20 {
  width: 20%;
  float: left;
}
.gd20-pull {
  width: 20%;
  float: right;
}
.gd25 {
  width: 25%;
  float: left;
}
.gd25-pull {
  width: 25%;
  float: right;
}
.gd30 {
  width: 30%;
  float: left;
}
.gd30-pull {
  width: 30%;
  float: right;
}
.gd33 {
  width: 33%;
  float: left;
}
.gd35 {
  width: 35%;
  float: left;
}
.gd35-pull {
  width: 35%;
  float: right;
}
.gd40 {
  width: 40%;
  float: left;
}
.gd40-pull {
  width: 40%;
  float: right;
}
.gd45 {
  width: 45%;
  float: left;
}
.gd45-pull {
  width: 45%;
  float: right;
}
.gd50 {
  width: 50%;
  float: left;
}
.gd55 {
  width: 55%;
  float: left;
}
.gd55-pull {
  width: 55%;
  float: right;
}
.gd60 {
  width: 60%;
  float: left;
}
.gd60-pull {
  width: 60%;
  float: right;
}
.gd65 {
  width: 65%;
  float: left;
}
.gd65-pull {
  width: 65%;
  float: right;
}
.gd70 {
  width: 70%;
  float: left;
}
.gd70-pull {
  width: 70%;
  float: right;
}
.gd75 {
  width: 75%;
  float: left;
}
.gd75-pull {
  width: 75%;
  float: right;
}
.gd80 {
  width: 80%;
  float: left;
}
.gd80-pull {
  width: 80%;
  float: right;
}
.gd85 {
  width: 85%;
  float: left;
}
.gd85-pull {
  width: 85%;
  float: right;
}
.gd90 {
  width: 90%;
  float: left;
}
.gd90-pull {
  width: 90%;
  float: right;
}
.gd95 {
  width: 95%;
  float: left;
}
.gd95-pull {
  width: 95%;
  float: right;
}
